<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KhachSanSaoBang.Properties.Settings.dataQLKSConnectionString"
            connectionString="Data Source=LAPTOP-MI8BCIFM;Initial Catalog=dataQLKS;Integrated Security=True;TrustServerCertificate=True;"
            providerName="System.Data.SqlClient" />
        <add name="KhachSanSaoBang.Properties.Settings.dataQLKSConnectionString1"
            connectionString="Data Source=LAPTOP-MI8BCIFM;Initial Catalog=dataQLKS;Integrated Security=True;TrustServerCertificate=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>