<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KhachSanSaoBang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="KhachSanSaoBang.Properties.Settings.dataQLKSConnectionString"
            connectionString="Data Source=hoangvux.database.windows.net;Initial Catalog=dataQLKS;Persist Security Info=True;User ID=ApplicationClient;Password=Abcd@123;Encrypt=True;TrustServerCertificate=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<add key="AES_Key" value="MySuperSecretKey!" />
		<add key="AES_IV" value="MyInitVector12345" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup> 
    <applicationSettings>
        <KhachSanSaoBang.Properties.Settings>
            <setting name="AES_Key" serializeAs="String">
                <value>1234567890123456</value>
            </setting>
            <setting name="AES_IV" serializeAs="String">
                <value>abcdef1234567890</value>
            </setting>
        </KhachSanSaoBang.Properties.Settings>
    </applicationSettings>
</configuration>